// COLOR
$color-text: #272f35;
$color-bg: #ccc;

// TYPE
$type-sans: "pt-sans", Georgia, 'Times New Roman', serif;
$type-serif: "chaparral-pro", Georgia, 'Times New Roman', serif;
$type-sans-2: "open-sans", Georgia, 'Times New Roman', serif;